/* src/components/AuthLayout.css */

.auth-container {
  width: 100%;
  min-height: 100%;
  background: #3E66AE;
  background: linear-gradient(162deg, rgba(62, 102, 174, 0.94) 19%, rgba(239, 167, 62, 0.58) 51%, rgba(88, 184, 101, 0.95) 83%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Adiciona um respiro em telas pequenas */
}